#employees{
    text-align:center;
    border-collapse:collapse;
    border: 2px solid  #5A6F07;
}
#employees td, #employees th{
    border: 1px solid #ddd;
    padding:10px;
}
#employees tr:nth-child(even){
    background-color:#f2f2f2;
}
#employees tr:hover{
    background-color:#ddd;
}
#employees th{
    background-color: #5A6F07;
    color:white;
    width:160px;
}
.spanArrow{
display:flex;
flex-direction:column;
gap:8px;

}
.spanArrow img{
width:12px;
height:12px;
margin:auto;
cursor:pointer;
margin-top:10px;

}
.spanArrow img:hover{
 border: 2px solid #93AC18;
 padding:4px;
 border-radius:50%; 
}

.spanArrow img:active{
border: 1px solid #93AC18;
background-color: #93AC18;
padding:4px;
border-radius:50%;
}

section{
    margin-top: 60px;
}
.pagination-btn{
    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;
}
.pagination-btn button{
    display:block;
    padding: 5px;
    outline: none;
    color: rgb(230, 227, 227);
    border: 2px solid #5A6F07;
    border-radius: 5px;
    background-color: #5A6F07;
    font-size: 20px;
    width: 120px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px -2px #1f2235;
    cursor:pointer;
}
.pagination-btn button:hover{
    color:#5A6F07;
    transition: all ease 1s;
    background-color: rgb(230, 227, 227);
}
.pagination-p{
    color: rgb(230, 227, 227);
    border-radius: 50%;
    background-color: #5A6F07;
    font-size: 20px;
    width: 34px;
    height:34px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 10px -2px #1f2235;
}
.btn-visiblity{
    visibility: hidden;
}
.form-container-entries{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    box-shadow: 0 0px 10px -2px #1f2235;
    padding:8px;
    border-radius:5px;
}
.form-container-entries span{
    color: rgb(230, 227, 227);
    background-color: #5A6F07;
    font-size: 20px;
    padding:8px;
    display:block;
    border-radius:5px;
}
.form-container-entries label{
    color: rgb(230, 227, 227);
    background-color: #5A6F07;
    font-size: 20px;
    padding:8px;
    display:block;
    border-radius:5px;

}
.showAndSearchContainer{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}
.btn-entries{
    color: rgb(230, 227, 227);
    background-color: #5A6F07;
    border-radius:5px;
    border: 1px solid  #5A6F07;
    cursor:pointer;
}
.btn-entries:hover{
    color:#5A6F07;
    transition: all ease 1s;
    background-color: rgb(230, 227, 227); 
}
.btn-entries:active{
    transform: scale(1.2)
}

.select-input::placeholder{
  font-size:10px;
}
.footerTable{
    display:flex;
    align-items:center;
    gap:100px;

}
.showingParagrh{
    font-size:18px;
}
.showingParagrh span{
    color: #5A6F07;
    font-weight:bolder;
    font-size:20px;
    padding:0px 4px;
}


@media (max-width: 980px){
    table thead {
    display:block;
    font-size:10px;
    }
    .spanArrow img{
        width:8px;
        height:8px;
    }
    .spanArrow{
        gap:4px;
        margin-top:8px;
    }
    
    table tr{
    display: block;
    margin-bottom: 40px;
    }
    
    table td {
    display: block;
    text-align: right;
    
    }
    
    table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    background-color: #5A6F07;
    color:white;
    padding:2px;
    margin-right:80px;
    }
    .showAndSearchContainer{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap: 60px;
        width:100%;
    }
    .footerTable{
        flex-direction:column;
        gap:4px;
    }
    }
    @media (max-width: 600px){
        table{
            width:94%;
            margin:auto;
        }
        table thead {
            font-size:8px;
            }
    }
    @media (max-width: 520px){
        table thead {
            font-size:6px;
            }
    }